<%= content_for :head do %>
    <script type='text/javascript'>
        //TODO: set start date to max(today, semester_lv_begin)
        //TODO: set minimum date and maximum date to semester_begin and semester_end -- does not seem to work!!!!
        $(document).ready(function () {
            $('#calendar').weekCalendar({
                timeslotsPerHour: 4,
                timeslotHeight: 20,
                hourLine: true,
                use24Hour: true,
                longMonths: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'],
                longDays: ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
                minDate: $('#calendar-data').data('semester_begin'),
                maxDate: $('#calendar-data').data('semester_end'),
                businessHours: {start: 7, end: 22, limitDisplay: true},
                firstDayOfWeek: 1,
                dateFormat: "d.m.Y",// "M d, Y",
                readonly: true,
                data: $('#calendar-data-json').attr('href'),
                height: function ($calendar) {
                    return $(window).height() - 51;
                },
                eventRender: function (calEvent, $event) {
                    if (calEvent.end.getTime() < new Date().getTime()) {
                        $event.css('backgroundColor', '#aaa');
                        $event.find('.time').css({'backgroundColor': '#999', 'border': '1px solid #888'});
                    }
                }
            });
        });
    </script>
<% end %>

<%= content_for :navbar do %>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to params.merge(:format => :json), :id => "calendar-data-json" do %>
            <span class="glyphicon glyphicon-wrench">JSON</span>
        <% end %>
      </li>
      <li>
        <%= link_to params.merge(:format => :ics), :id => "calendar-data-ics" do %>
            <span class="glyphicon glyphicon-calendar">ICS</span>
        <% end %>
      </li>
      <li><%= link_to "https://support.google.com/calendar/answer/37100?hl=de", :target => "_blank" do %>(Anleitung)
        <% end %></li>
    </ul>
<% end %>

<%= content_tag :div, :id => "calendar-data", :data => {semester_begin: @semester.begin.to_s, semester_end: @semester.end.to_s} do
end %>
<%= content_tag :div, :id => "calendar" do
end %>
