<%= content_for :navbar do %>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to params.merge(:format => :json), :id => "calendar-data-json" do %>
          <span class="glyphicon glyphicon-wrench">JSON</span>
        <% end %>
      </li>
      <li>
        <%= link_to params.merge(:format => :ics), :id => "calendar-data-ics" do %>
          <span class="glyphicon glyphicon-calendar">ICS</span>
        <% end %>
      </li>
      <li><%= link_to "https://support.google.com/calendar/answer/37100?hl=en", :target => "_blank" do%>(Anleitung)<% end %></li>
    </ul>
<% end %>

<%= render 'weekcalendar' %>
