<h1>Modulübersicht</h1>
<table class="table table-hover">
 <tr>
  <th>Titel</th>
  <th>Nummer</th>
  <th>form</th>
  <th>credits</th>
  <th>lehrveranstaltungs</th>
 </tr>

 <% @moduls.each do |modul| %>
  <tr>
   <td><%= link_to modul.titel, modul_path(modul.nummer) %></td>
   <td><%= modul.nummer %></td>
   <td><%= modul.form %></td>
   <td><%= modul.credits %></td>
   <td>
    <% Lehrveranstaltung.where(modul_id: modul.nummer).each do |lv| %>
     <%= lv.titel %><br />
    <% end %>
   </td>
  </tr>
 <% end %>
</table>
