<nav><ul>
 <li><%= link_to "Alle Studiengänge", moduls_path %></li>
 <% @studiengaenge.each do |sg| %>
  <li><%= link_to sg, moduls_path("studiengang" => sg) %></li>
 <% end %>
</ul></nav>

<h1>Modulübersicht</h1>
<table class="table table-hover">
 <tr>
  <th>Titel</th>
  <th>Nummer</th>
  <th>form</th>
  <th>credits</th>
  <th>lehrveranstaltungs</th>
 </tr>



 <% @modul_lvs.each do |modul_nummer, lvs| %>
  <tr>
   <% if @moduls.include?(modul_nummer) %>
    <td><%= link_to @moduls[modul_nummer].titel, modul_path(modul_nummer) %></td>
    <td><%= modul_nummer %></td>
    <td><%= @moduls[modul_nummer].form %></td>
    <td><%= @moduls[modul_nummer].credits %></td>
   <% else %>
    <td><%= modul_nummer %></td>
    <td><%= modul_nummer %></td>
    <td />
    <td />
   <% end %>
   <td><ul>
    <% @modul_lvs[modul_nummer].each do |lv_titel, lv_id| %>
     <li lvid="<%= lv_id %>">
      <%= lv_titel %>
     </li>
    <% end %>
   </ul></td>
  </tr>
 <% end %>

</table>
