<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<%= stylesheet_link_tag 'bootstrap-table.min.css' %>
<%= stylesheet_link_tag 'bootstrap-table-filter.css' %>

<h1>Modulübersicht</h1>

<div id="filter-bar"> </div>

<table 
   class="table table-hover" 
   data-toggle="table" 
   data-url="moduls/json"
   id="module-table" 
   data-toolbar="#filter-bar"
   data-show-toggle="true"
   data-show-refresh="true"
   data-show-filter="true"
   data-show-columns="true"
   >
   <thead>
      <tr>
         <th data-field="titel" data-align="left" data-sortable="true">Titel</th>
         <th data-field="modul_id" data-align="right" data-sortable="true">Nummer</th>
         <th data-field="credits" data-align="right" data-sortable="true">Credits</th>
         <th data-field="form" data-align="right" data-sortable="true">Form</th>
      </tr>
   </thead>
<% if false %>
   <tbody>
      <% i = 0 %>
      <% @moduls.each do |modul| %>
         <% i = i+1 %>
         <tr id="tr-id-<%= i %>" class="tr-class-<%= i %>">
            <td id="td-id-<%= i %>" class="td-class-<%= i %>"><%= link_to modul.titel, modul_path(modul.modul_id) %></td>
            <td><%= modul.modul_id %></td>
            <td><%= modul.credits %></td>
            <td><%= modul.form %></td>           
         </tr>
      <% end %>
   </tbody>  
<% end %>
</table>

<script type="text/javascript">
    $(function() {
        $('#filter-bar').bootstrapTableFilter({
            filters:[
                {
                    field: 'titel',    // field identifier
                    label: 'Titel',    // filter label
                    type: 'select'   // filter type
                },
                {
                    field: 'form',
                    label: 'Form',
                    type: 'search',
                    enabled: true   // filter is visible by default
                }
            ],
            connectTo: '#module-table',
            onSubmit: function() {
                var data = $('#filter-bar').bootstrapTableFilter('getData');
                console.log(data); 
            }
        });
    });
</script>
<%= javascript_include_tag 'bootstrap-table.min.js' %>
<%= javascript_include_tag 'bootstrap-table-filter.min.js' %>
<%= javascript_include_tag 'bootstrap-table-filter.js' %>
<%= javascript_include_tag 'bs-table.js' %>
