
<h1><%= @modul.titel %> (<%= @modul.nummer %>)</h1>
<div id="container">
 <div id="lp">
  <%= @modul.credits %> Leistungspunkte
 </div>
 <div id="form">
  <%= @modul.form %>
 </div>
 <div id="art">
  <%= @modul.art %>
 </div>
 <div id="turnus">
  <%= @modul.semesterturnus %>
 </div>
</div>
<br />
<div>
  Ziele:<br />
  <%= simple_format(@modul.ziele) %>
</div>
<div>
  Inhalt:<br />
  <%= simple_format(@modul.beschreibung) %>
</div>

<div>
  Lehrveranstaltungen:<br />
  <% Lehrveranstaltung.where(modul_id: @modul.nummer).each do |lv| %>
    <div>
      <%= lv.titel %><br />
      <%= lv.dozent %><br />
      <%= lv.form %><br />
      <%= lv.wochentag %><br />
      <%= lv.zeit_von %><br />
      <%= lv.zeit_bis %><br />
      <%= lv.raum %><br />
      <%= lv.website %><br />
    </div><br />
  <% end %>
</div>
