<div class="container">
   <div class="row">    
      <div class="col-md-12">
          <h1><%= @modul.titel %> (<%= @modul.modul_id %>)</h1>
      </div>
   </div>

   <div class="row" >
      <div class="col-md-3 modul-overview">
         <%= @modul.credits %> &#8203; Leistungspunkte
      </div>
      <div class="col-md-3 modul-overview">
         <%= @modul.form %> &#8203;
      </div>
      <div class="col-md-3 modul-overview">
         <%= @modul.art %> &#8203;
      </div>
      <div class="col-md-3 modul-overview">
          <%= @modul.semesterturnus %> &#8203;
      </div>
   </div>

   <div class="row">
      <div class="col-md-12">
         <h2>Ziele:</h2>
         <%= simple_format(@modul.ziele) %>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <h2>Inhalt:</h2>
         <%= simple_format(@modul.beschreibung) %>
      </div>
   </div>
  <div class="row">
     <div class="col-md-12">
        <h2>Lehrveranstaltungen:</h2>
     </div>
  </div>
  <%= render "lvs" %>
</div>
